@charset "UTF-8";
#wrapper {
	width: 960px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	position: relative;
	list-style-type: none;
	left: auto;
}

nav {
	width: 960px;
	height: 0px;
	color: #161D53;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

aside {
	margin-top: 12px;
	width: 200px;
	float: left;
	top: auto;
}

section {
    width: 720px;
    height: 500px;
    position: relative;
    float: left;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    top: 20px;
    left: 10px;
    color: #FFFFFF;
}

li {
	float: left;
	width: 430px;
	text-align: center;
}

ul {
	width: 960px;
	margin: auto;
	list-style: none;
	background-color: #161D53;
	padding-top: 10px;
	padding-bottom: 15px;
	height: 15px;
}

a:link {
	color: #FFF;
	text-decoration: none;
}
a:visited {
	color: #7BB908;
}
a:hover {
	color: #ECEB12;
}
a:active {
	color: #615D63;
}
